/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.logo {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.logo > h1 {
    font-family: 'Satisfy';
    color: #1230B4;
    margin: 5px;
    font-size: 3em;
}
.logo > span{
    font-family: "Marck Script";
    margin: 5px;
}

.footer-signin
{
   display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom:0px;
    font-size: 17px !important; 
}
.onsignup
{
   font-family:'Abel' !important;
    font-weight:800; !important;
    color: #1230B4;
    margin-left:8px;
    font-size: 17px !important; 
}
.onsignup:hover
{
    cursor:pointer;
}
.form-control
{
    margin-bottom:5px !important;
    background-color:#f1f1f1 !important;
}
.form-group {
    padding: 0px;
}
.index
{
      width: 100%;
    border-radius:0px !important;
    margin-top: 10px;
    margin-bottom:10px;
}
.modal-title
{
    font-family:'Abel' !important;
    font-weight: bolder !important;
   font-size: 27px !important;
}
.modal-content
{
        width: 85% !important;
    margin-left: 30px !important;
    color:black;
}


label
{
    font-family:'Abel' !important;
    font-weight: 800 !important;
   font-size: 17px !important; 
}
.not-a-member
{
   font-family:'Abel' !important;
    font-weight: bolder !important;
}
@media only screen and (max-width: 400px) {
    #signup,#signin  {
       padding: 5px;
    margin: 13px 3px;
    }
    #scriblogo{
        font-size: 40px;
    }
    #logo2 {
        font-size: 13px;
    }
}